@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

* {
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-color: #f6fff8;
  margin: 0;
  padding: 0;
}

ul, h1, h2, p {
  text-align: center;
  color: #000814;
}

h1 {
  font-size: 100px;

  background: linear-gradient(90deg, #02c39a, #f441a5, #ffeb3b, #02c39a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  background: linear-gradient(90deg, #02c39a, #f441a5, #ffeb3b, #02c39a);
  width: 55%;
  margin: 20px auto;
}

/* how to play */
ul li {
  color: #000814;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
}

/* link button - to the game */
button {
  display: flex;
  align-items: center;

  margin: 50px auto;
  padding: 20px 50px;

  border: none;

  background: linear-gradient(90deg, #02c39a, #f441a5, #ffeb3b, #02c39a);
  background-size: 300%;
  border-radius: 10px;
}

@keyframes animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

button:hover {
  animation: animation 8s linear infinite;
  border: none;
}

a {
  color: #f6fff8;
  text-decoration: none;
  letter-spacing: 5px;
}

/* tag container - in the game */
#container {
  position: relative;
  padding: 0;
  margin: auto;
  display: block;

  overflow: hidden;

  width: 700px;
  height: 250px;

  border-radius: 15px;

  background-image: url("../img/background.jpg");
  background-size: 700px 250px;
}

.tracker {
  color: #f6fff8;

  position: absolute;
  top: 10px;
  left: 15px;
}

/* tag game over - in the game */
#display-result {
  color: #000814;
  font-size: 30px;
  text-align: center;

}

/* audio */
audio {
  display: none;
}